@import "@/styles/tailwind.css";

.container {
  @apply p-2 bg-transparent!;
}

.container :global(.ant-drawer-body) {
  @apply bg-white! dark:bg-gray-950! rounded-2xl border border-gray-200 dark:border-gray-900 p-3;
}

.menu {
  @apply flex flex-col gap-1;
}

.link {
  @apply flex flex-nowrap items-center gap-2 text-gray-500! px-4 py-2 rounded-full font-bold;
  @apply hover:bg-gray-100;
  @apply dark:text-gray-400!;
  @apply dark:hover:bg-gray-800;
}

.link:global(.active) {
  @apply text-blue-500! bg-gray-100;
  @apply dark:text-blue-400! dark:bg-gray-800;
}
